*{font-size:12px; font-family:Tahoma,Verdana,微软雅黑,新宋体}
body{/*background:#D2E0F2; */}
a{ color:Black; text-decoration:none;}
a:hover{ color:Red; text-decoration:underline;}
.textbox03 {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;  font-weight: bold; width: 190px; }

.txt01{font:Verdana, Geneva, sans-serif,宋体;padding:3px 2px 2px 2px; border-width:1px; border-color:#ddd;  color:#000;}
.txt {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;}
.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}

.head a{color:White;text-decoration:underline;}

.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;padding-top:3px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li div{margin:2px 0px;padding-left:10px;padding-top:2px;}
.easyui-accordion ul li div.hover{border:0px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.easyui-accordion ul li div.hover a{color:#416AA3;}
.easyui-accordion ul li div.selected{border:0px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; /*font-weight:bold;*/}



.icon{height:16px;width:16px;display:block;}
.icon-sys{ background:url(/images/icons/1.png) no-repeat;}
.icon-add{background:url(/images/icons/2.png) no-repeat;}
.icon-nav{background:url(/images/icons/3.png) no-repeat;}
.icon-users{background:url(/images/icons/4.png) no-repeat;}
.icon-role{background:url(/images/icons/5.png) no-repeat;}
.icon-set{background:url(/images/icons/6.png) no-repeat;}
.icon-log{background:url(/images/icons/7.png) no-repeat;}

